POSTGRES_DB=readmission_dw
POSTGRES_USER=readmission_user
POSTGRES_PASSWORD=readmission_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DATABASE_URL=postgresql+psycopg://readmission_user:readmission_password@localhost:5433/readmission_dw

